.delivery-item-cover{
    height: 160px;
    width: 160px;
    background-color: var(--primary-bg);
    box-shadow : var(--collection-shadow);
    border-radius: 50%;
    overflow: hidden;
}

.delivery-item-image{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: var(--inactive-color);
}

.delivery-item-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 6px;
    padding-right: 20px;
}